<nav class='navbar navbar-default navbar-static-top'>
	<div class='container-fluid'>
		<div class='navbar-header'>
			<a class='navbar-brand brand' href='/'>ASCOLTA</a>
		</div>
		<form class="navbar-form navbar-right" method='GET' action='/search' autocomplete='off'>
			<input type="hidden" name="type" id="search-type" value="">
			<input type="hidden" name="order" id="search-order" value="">
			<input type="hidden" name="duration" id="search-duration" value="">
			<input type="hidden" name="pageToken" id="search-pageToken" value="">
			<div class="input-group form-group">
				<input type='search' class='form-control' name="q" placeholder='Search' id='search-bar' value='{{ q }}' size="50">
				<div class="input-group-btn">
					<button class="btn btn-success" type="submit" id='search-bar-search'>
					<i class="fa fa-fw fa-search"></i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
</nav>