#page-nav {
	margin:0;padding:0;
    width:100%;
    display:table;
    table-layout:fixed;
    background-color:#4e5d6c;
    list-style-type:none;
    border-collapse: collapse;
}
#page-nav > li {
    display: table-cell;
    text-align:center;
    vertical-align:middle;
    border-bottom:2px solid #FFF;
    padding:20px 0;margin:0;
}
#page-nav > li:hover, #page-nav > li:focus, #page-nav li.active {
	border-bottom:3px solid #df691a;color:#FFFFFF;
}
#page-nav > li > a {
	color:#c5c5c5;text-decoration:none;display:block;
}
#page-nav > li > a:hover, #page-nav > li > a:focus, #page-nav li.active a  {
	color:#FFFFFF;
}
#page-content .container {
    margin:1em auto;
}
.recommended-playlist {
    border-bottom:2px solid #808080;
    margin-bottom:1em;padding:1.5em 0;
}
.row {
    padding:1.5em 0;
}